<a href="https://colab.research.google.com/github/booluckgmie/training/blob/main/Geocode_with_arcgis_and_Similarity_Score_Address.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Geocoding Address

In [1]:
#https://atmamani.github.io/cheatsheets/open-geo/geopandas-2/

In [2]:
!pip install geopandas -qq

     |████████████████████████████████| 1.0 MB 2.1 MB/s
     |████████████████████████████████| 16.7 MB 42.5 MB/s
     |████████████████████████████████| 6.3 MB 36.4 MB/s

In [3]:
import xlrd
import pandas as pd

In [4]:
df = pd.read_excel("/content/Sample Alamat.xlsx")

In [5]:
df.head()

,alamat_1,alamat_2,alamat_3,poskod,id_negeri,Unnamed: 5,full_address,Unnamed: 7,Unnamed: 8,code,negeri
0,"NO. 411, JALAN MAKMUR 13,","TAMAN MAKMUR,",NaN,81000,1,Johor,"NO. 411, JALAN MAKMUR 13, TAMAN MAKMUR, 81000...","NO. 411, JALAN MAKMUR 13, TAMAN MAKMUR, 81000...",NaN,1.0,Johor
1,PARIT ZING,SEROM,SUNGAI MATI,84410,1,Johor,"PARIT ZING SEROM SUNGAI MATI 84410 Johor, Mala...","PARIT ZING SEROM SUNGAI MATI 84410 Johor, Mala...",NaN,2.0,Kedah
2,NO 22,JALAN CERMAI 2,TAMAN SURIA,86000,1,Johor,"NO 22 JALAN CERMAI 2 TAMAN SURIA 86000 Johor, ...","NO 22 JALAN CERMAI 2 TAMAN SURIA 86000 Johor, ...",NaN,3.0,Kelantan
3,25 JALAN UDA UATAMA 1 1,BANDAR UDA UTAMA,NaN,81200,1,Johor,25 JALAN UDA UATAMA 1 1 BANDAR UDA UTAMA 8120...,25 JALAN UDA UATAMA 1 1 BANDAR UDA UTAMA 8120...,NaN,4.0,Melaka
4,"POS 67,LORONG HJ ANUAR,","KG PT LUBOK DARAT,","MUKIM 1,SEMERAH,",83600,1,Johor,"POS 67,LORONG HJ ANUAR, KG PT LUBOK DARAT, MUK...","POS 67,LORONG HJ ANUAR, KG PT LUBOK DARAT, MUK...",NaN,5.0,Negeri Sembilan

In [6]:
from geopandas.tools import geocode, geocoding, reverse_geocode

In [7]:
type(geocode), type(reverse_geocode), type(geocoding)

(function, function, module)

In [8]:
import geopy, inspect
print(geopy.__version__)

1.17.0

In [9]:
# use inspection, but limit to just classes
inspect.getmembers(geopy, predicate=inspect.isclass)

[('ArcGIS', geopy.geocoders.arcgis.ArcGIS),
 ('AzureMaps', geopy.geocoders.azure.AzureMaps),
 ('Baidu', geopy.geocoders.baidu.Baidu),
 ('Bing', geopy.geocoders.bing.Bing),
 ('DataBC', geopy.geocoders.databc.DataBC),
 ('GeoNames', geopy.geocoders.geonames.GeoNames),
 ('GeocodeEarth', geopy.geocoders.geocodeearth.GeocodeEarth),
 ('GeocodeFarm', geopy.geocoders.geocodefarm.GeocodeFarm),
 ('GoogleV3', geopy.geocoders.googlev3.GoogleV3),
 ('Here', geopy.geocoders.here.Here),
 ('IGNFrance', geopy.geocoders.ignfrance.IGNFrance),
 ('LiveAddress', geopy.geocoders.smartystreets.LiveAddress),
 ('Location', geopy.location.Location),
 ('MapBox', geopy.geocoders.mapbox.MapBox),
 ('Nominatim', geopy.geocoders.osm.Nominatim),
 ('OpenCage', geopy.geocoders.opencage.OpenCage),
 ('OpenMapQuest', geopy.geocoders.openmapquest.OpenMapQuest),
 ('Pelias', geopy.geocoders.pelias.Pelias),
 ('Photon', geopy.geocoders.photon.Photon),
 ('PickPoint', geopy.geocoders.pickpoint.PickPoint),
 ('Point', geopy.point.Point),
 ('TomTom', geopy.geocoders.tomtom.TomTom),
 ('What3Words', geopy.geocoders.what3words.What3Words),
 ('Yandex', geopy.geocoders.yandex.Yandex)]

## Single Search Address

In [10]:
geocode(strings='Hollywood', provider='DataBC')

                      geometry      address
0  POINT (-123.49306 48.42333)  Colwood, BC

In [11]:
geocode(strings='Hollywood sign', provider='Nominatim')

/usr/local/lib/python3.7/dist-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

,geometry,address
0,POINT (-118.32165 34.13410),"Hollywood Sign, Mount Lee Drive, Hollywood Hil..."

In [12]:
#NO. 16 JALAN IKS 1, TAMAN IKS AIR MANIS. TAMAN AIR MANIS 45200  SABAK BERNAM

In [13]:
geocode(strings='NO. 16 JALAN IKS 1, TAMAN IKS AIR MANIS. TAMAN AIR MANIS 45200  SABAK BERNAM', provider='arcgis')

                    geometry address
0  POINT (100.90254 3.76765)   45200

In [14]:
address_list = ['hospitals near Redlands, CA', 
                'groceries near Redlands, CA', 
                'schools near Redlands, CA']

In [15]:
geocoded_gdf = geocode(strings=address_list, provider='arcgis')
geocoded_gdf

                      geometry                           address
0  POINT (-117.20487 34.03696)       Redlands Community Hospital
1  POINT (-117.14025 34.07153)              Stater Bros. Markets
2  POINT (-117.12782 34.06206)  Redlands East Valley High School

There is a limit to the maximum number of addresses that can be geocoded in a single batch request with the geocoder. The MaxBatchSize property defines this limit. For instance, if MaxBatchSize=2000, and 3000 addresses are sent as input, only the first 2000 will be geocoded. The SuggestedBatchSize property is also useful as it specifies the optimal number of addresses to include in a single batch request.

by : https://developers.arcgis.com/python/guide/part4-batch-geocoding/
https://github.com/seatgeek/fuzzywuzzy/blob/9a4bc22c7483198fcb96afacc42f5f700fb803ed/fuzzywuzzy/fuzz.py#L43-L55
https://stackoverflow.com/questions/31806695/when-to-use-which-fuzz-function-to-compare-2-strings

## Bulk Search Address

In [16]:
geocoded_gdf = geocode(strings=df['full_address'], provider='arcgis')
geocoded_gdf

,geometry,address
0,POINT (103.61336 1.66343),"411 Jalan Makmur 13, Taman Makmur, Kulai, 8100..."
1,POINT (102.56284 2.14575),"Sungai Mati, Tangkak, Johor"
2,POINT (103.31638 2.05099),"22 Jalan Cermai 2, Taman Suria, Kluang, 86000,..."
3,POINT (103.67413 1.49669),"25 Jalan Uda Utama 1/1, Bandar Uda Utama, Joho..."
4,POINT (102.81421 1.89754),"83600, Kampung Parit Guntong, Semerah, Batu Pa..."
...,...,...
80,POINT (100.27700 6.41725),"Jalan Sanji, Taman Utara Guar Sanji, Arau, Kan..."
81,POINT (100.26004 6.52359),"Lorong 4, Rancangan Perumahan Awam C, Chuping,..."
82,POINT (100.26556 6.42183),02600
83,POINT (100.26556 6.42183),02600
84,POINT (100.24658 6.38267),"Jalan Behor Mentalon, Kurong Anai, Kangar, 026..."

In [17]:
#geocoded_gdf.to_csv('arcgis_geocode.csv')

https://archive.md/t5OPj or https://towardsdatascience.com/fuzzy-string-matching-in-python-68f240d910fe
## Fuzzy String Matching
Finding strings that approximately match a pattern in your data using Python.

In [18]:
!pip install fuzzywuzzy python-Levenshtein -qq

     |████████████████████████████████| 50 kB 1.5 MB/s
  Building wheel for python-Levenshtein (setup.py) ... done

In [19]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [20]:
fuzz.ratio("Sankarshana Kadambari","Sankarsh Kadambari")

92

In [21]:
import pandas as pd 
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process

In [22]:
def checker(wrong_options, correct_options):
    names_array = []
    ratio_array = []
    for wrong_option in wrong_options:
        if wrong_option in correct_options:
            names_array.append(wrong_option)
            ratio_array.append("100")
        else:
            x = process.extractOne(
                wrong_option, correct_options, scorer=fuzz.token_set_ratio
            )
            names_array.append(x[0])
            ratio_array.append(x[1])
    return names_array, ratio_array

In [23]:
original = df['full_address'].fillna('######').tolist()
suggest =geocoded_gdf['address'].fillna('######').tolist()

In [24]:
name_match,ratio_match=checker(original,suggest)

df1 = pd.DataFrame()
df1['old_names']=pd.Series(original)
df1['correct_names']=pd.Series(name_match)
df1['correct_ratio']=pd.Series(ratio_match)
df1.to_excel('matched_names.xlsx')

In [25]:
df1

,old_names,correct_names,correct_ratio
0,"NO. 411, JALAN MAKMUR 13, TAMAN MAKMUR, 81000...","411 Jalan Makmur 13, Taman Makmur, Kulai, 8100...",92
1,"PARIT ZING SEROM SUNGAI MATI 84410 Johor, Mala...","Sungai Mati, Tangkak, Johor",81
2,"NO 22 JALAN CERMAI 2 TAMAN SURIA 86000 Johor, ...","22 Jalan Cermai 2, Taman Suria, Kluang, 86000,...",92
3,25 JALAN UDA UATAMA 1 1 BANDAR UDA UTAMA 8120...,"25 Jalan Uda Utama 1/1, Bandar Uda Utama, Joho...",93
4,"POS 67,LORONG HJ ANUAR, KG PT LUBOK DARAT, MUK...","83600, Kampung Parit Guntong, Semerah, Batu Pa...",57
...,...,...,...
80,"NO. 463, KAMPUNG GUAR SANJI, JALAN RUMAH PAM A...",02600,100
81,NO 11 LORONG 4 TAMAN EMAS BESERI 02450 PERLIS ...,"Lorong 4, Rancangan Perumahan Awam C, Chuping,...",60
82,451 KAMPUNG BARU PAUH 02600 PERLIS 02600 Per...,02600,100
83,"451 KAMPUNG BARU,PAUH, 02600 PERLIS 02600 Pe...",02600,100
84,4166 KAMPUNG BEHOR MENTALON 02600 PERLIS 026...,02600,100

In [26]:
df1['QRatio'] = df1.apply(lambda row: fuzz.QRatio(row['old_names'], row['correct_names']), axis=1)

In [27]:
df1[df1['QRatio']==81]

,old_names,correct_names,correct_ratio,QRatio
0,"NO. 411, JALAN MAKMUR 13, TAMAN MAKMUR, 81000...","411 Jalan Makmur 13, Taman Makmur, Kulai, 8100...",92,81
29,NO 24 JALAN TJ 7/1 TAMAN TEMERLOH JAYA 28000...,"24 Jalan TJ 7/1, Taman Temerloh Jaya, Temerloh...",100,81

### According to dataset, it is the best to use QRatio as similarity indicator

In [28]:
df1

,old_names,correct_names,correct_ratio,QRatio
0,"NO. 411, JALAN MAKMUR 13, TAMAN MAKMUR, 81000...","411 Jalan Makmur 13, Taman Makmur, Kulai, 8100...",92,81
1,"PARIT ZING SEROM SUNGAI MATI 84410 Johor, Mala...","Sungai Mati, Tangkak, Johor",81,47
2,"NO 22 JALAN CERMAI 2 TAMAN SURIA 86000 Johor, ...","22 Jalan Cermai 2, Taman Suria, Kluang, 86000,...",92,77
3,25 JALAN UDA UATAMA 1 1 BANDAR UDA UTAMA 8120...,"25 Jalan Uda Utama 1/1, Bandar Uda Utama, Joho...",93,80
4,"POS 67,LORONG HJ ANUAR, KG PT LUBOK DARAT, MUK...","83600, Kampung Parit Guntong, Semerah, Batu Pa...",57,44
...,...,...,...,...
80,"NO. 463, KAMPUNG GUAR SANJI, JALAN RUMAH PAM A...",02600,100,11
81,NO 11 LORONG 4 TAMAN EMAS BESERI 02450 PERLIS ...,"Lorong 4, Rancangan Perumahan Awam C, Chuping,...",60,52
82,451 KAMPUNG BARU PAUH 02600 PERLIS 02600 Per...,02600,100,16
83,"451 KAMPUNG BARU,PAUH, 02600 PERLIS 02600 Pe...",02600,100,15
84,4166 KAMPUNG BEHOR MENTALON 02600 PERLIS 026...,02600,100,14