##  load parquet files - Labour

In [ ]:
#pip install pyarrow fastparquet
!pip install nbformat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nbformat in /usr/local/lib/python3.8/dist-packages (5.7.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.8/dist-packages (from nbformat) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.8/dist-packages (from nbformat) (4.3.3)
Requirement already satisfied: traitlets>=5.1 in /usr/local/lib/python3.8/dist-packages (from nbformat) (5.7.1)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.8/dist-packages (from nbformat) (5.1.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat) (5.10.2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat) (22.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat) (0.19.3)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.8/dist-packages (from jupyter-core->nbformat) (2.6.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat) (3.11.0)

In [ ]:
# If not already installed, do: pip install pandas fastparquet

import pandas as pd

URL_DATA = 'https://storage.googleapis.com/dosm-public-economy/labour-principalstats-monthly.parquet'

df = pd.read_parquet(URL_DATA)
if 'date' in df.columns: df['date'] = pd.to_datetime(df['date'])

df.head()

,date,lf_size,employed,unemployed,outside,u_rate,p_rate,ep_ratio,lf_size_sa,employed_sa,...,u_rate_sa,p_rate_sa,unemployed_15_24,u_rate_15_24,unemployed_15_30,u_rate_15_30,employed_employer,employed_employee,employed_ownaccount,employed_unpaidfamily
0,2010-01-01,12367891.0,11931152.0,436739.0,6927510.0,3.53,64.10,61.83,12368000.0,11959800.0,...,3.3,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-02-01,12059800.0,11632300.0,427400.0,7225100.0,3.54,62.53,60.32,12120100.0,11712800.0,...,3.3,62.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-03-01,12324200.0,11895900.0,428300.0,6993000.0,3.48,63.80,61.58,12242400.0,11817200.0,...,3.4,63.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-04-01,12512010.0,12133505.0,378505.0,6894505.0,3.03,64.47,62.52,12382100.0,12025300.0,...,3.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-05-01,12197600.0,11798900.0,398700.0,7186000.0,3.27,62.93,60.87,12197500.0,11790700.0,...,3.3,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns

Index(['date', 'lf_size', 'employed', 'unemployed', 'outside', 'u_rate',
       'p_rate', 'ep_ratio', 'lf_size_sa', 'employed_sa', 'unemployed_sa',
       'u_rate_sa', 'p_rate_sa', 'unemployed_15_24', 'u_rate_15_24',
       'unemployed_15_30', 'u_rate_15_30', 'employed_employer',
       'employed_employee', 'employed_ownaccount', 'employed_unpaidfamily'],
      dtype='object')

## loading KPDN data parquet on Jan 2023

In [ ]:
# If not already installed, do: pip install pandas fastparquet

import pandas as pd

URL_DATA = 'https://storage.googleapis.com/dosm-public-pricecatcher/pricecatcher_2023-01.parquet'

df = pd.read_parquet(URL_DATA)
if 'date' in df.columns: df['date'] = pd.to_datetime(df['date'])

df.head()

        date  premise_code  item_code  price
0 2023-01-01             2          1    9.4
1 2023-01-01             2          9   36.0
2 2023-01-01             2         14   24.0
3 2023-01-01             2         16    4.5
4 2023-01-01             2         18    5.5

In [ ]:
set(df['date'])

{Timestamp('2023-01-01 00:00:00'),
 Timestamp('2023-01-02 00:00:00'),
 Timestamp('2023-01-03 00:00:00'),
 Timestamp('2023-01-04 00:00:00'),
 Timestamp('2023-01-05 00:00:00'),
 Timestamp('2023-01-06 00:00:00'),
 Timestamp('2023-01-07 00:00:00'),
 Timestamp('2023-01-08 00:00:00'),
 Timestamp('2023-01-09 00:00:00'),
 Timestamp('2023-01-10 00:00:00'),
 Timestamp('2023-01-11 00:00:00')}

## lookup item

In [ ]:
# If not already installed, do: pip install pandas fastparquet

import pandas as pd

URL_DATA = 'https://storage.googleapis.com/dosm-public-pricecatcher/lookup_item.parquet'

lookup = pd.read_parquet(URL_DATA)
if 'date' in df.columns: df['date'] = pd.to_datetime(df['date'])

lookup.head()

,item_code,item,unit,item_group,item_category
0,-1,None,None,None,None
1,1,AYAM BERSIH - STANDARD,1kg,BARANGAN SEGAR,AYAM
2,2,AYAM BERSIH - SUPER,1kg,BARANGAN SEGAR,AYAM
3,3,AYAM HIDUP,1kg,BARANGAN SEGAR,AYAM
4,9,DAGING KAMBING BEBIRI IMPORT BERTULANG (MUTTON...,1kg,BARANGAN SEGAR,DAGING

## mapping df item

In [ ]:
df2 = df.merge(lookup, on='item_code', how='outer') 
# df2 = df2.dropna()
df2.shape

(953924, 8)

In [ ]:
df2.head()

,date,premise_code,item_code,price,item,unit,item_group,item_category
0,2023-01-01,2.0,1,9.40,AYAM BERSIH - STANDARD,1kg,BARANGAN SEGAR,AYAM
1,2023-01-01,16.0,1,9.40,AYAM BERSIH - STANDARD,1kg,BARANGAN SEGAR,AYAM
2,2023-01-01,115.0,1,9.40,AYAM BERSIH - STANDARD,1kg,BARANGAN SEGAR,AYAM
3,2023-01-01,136.0,1,9.40,AYAM BERSIH - STANDARD,1kg,BARANGAN SEGAR,AYAM
4,2023-01-01,176.0,1,7.99,AYAM BERSIH - STANDARD,1kg,BARANGAN SEGAR,AYAM

In [ ]:
# df2 = df2.dropna()
df2 = df2.dropna(subset=['price'], axis=0)

df2.shape

(953670, 8)

In [ ]:
df2

,date,premise_code,item_code,price,item,unit,item_group,item_category
0,2023-01-01,2.0,1,9.40,AYAM BERSIH - STANDARD,1kg,BARANGAN SEGAR,AYAM
1,2023-01-01,16.0,1,9.40,AYAM BERSIH - STANDARD,1kg,BARANGAN SEGAR,AYAM
2,2023-01-01,115.0,1,9.40,AYAM BERSIH - STANDARD,1kg,BARANGAN SEGAR,AYAM
3,2023-01-01,136.0,1,9.40,AYAM BERSIH - STANDARD,1kg,BARANGAN SEGAR,AYAM
4,2023-01-01,176.0,1,7.99,AYAM BERSIH - STANDARD,1kg,BARANGAN SEGAR,AYAM
...,...,...,...,...,...,...,...,...
953665,2023-01-06,569.0,26,10.90,ANGGUR HIJAU BERBIJI,1kg,BARANGAN SEGAR,BUAH-BUAHAN
953666,2023-01-06,18340.0,26,24.50,ANGGUR HIJAU BERBIJI,1kg,BARANGAN SEGAR,BUAH-BUAHAN
953667,2023-01-07,18340.0,26,24.50,ANGGUR HIJAU BERBIJI,1kg,BARANGAN SEGAR,BUAH-BUAHAN
953668,2023-01-08,18340.0,26,24.50,ANGGUR HIJAU BERBIJI,1kg,BARANGAN SEGAR,BUAH-BUAHAN
953669,2023-01-09,18340.0,26,24.50,ANGGUR HIJAU BERBIJI,1kg,BARANGAN SEGAR,BUAH-BUAHAN

In [ ]:
# Create a pivot table with date as the index, category as the columns and varience of price as the values
pivot_table = df2.pivot_table(values='price', index='date', columns='item_category', aggfunc='mean').reset_index() #var

In [ ]:
pivot_table

item_category,date,AYAM,BAHAN LAUT,BAHAN-BAHAN MINUMAN,BAWANG,BERAS,BIHUN,BUAH-BUAHAN,CILI KERING,DAGING,...,ROTI,SANTAN (KOTAK),SAPUAN (SPREADS),SAYUR-SAYURAN,SUSU BAYI,TAUHU DAN TEMPE,TELUR,TEPUNG,TERSEDIA MINUM,UBI KENTANG
0,2023-01-01,13.809771,25.466421,12.94663,6.450552,22.601589,3.337202,6.432652,27.663734,32.235990,...,3.476697,6.664461,9.338899,9.844127,40.362532,1.035144,6.421910,3.243287,3.812162,4.462680
1,2023-01-02,13.574937,23.417855,NaN,5.665421,25.816000,3.295000,6.506726,27.339649,28.283495,...,3.400000,6.000000,8.906429,9.612122,38.991429,1.022103,5.812338,3.813333,NaN,4.319160
2,2023-01-03,13.997509,25.509079,NaN,6.511100,NaN,NaN,6.377850,28.246688,32.159910,...,NaN,NaN,NaN,9.754511,NaN,1.031872,6.421384,NaN,NaN,4.615340
3,2023-01-04,13.974329,25.609050,NaN,6.542458,5.666667,NaN,6.396919,28.315016,32.116557,...,NaN,NaN,NaN,9.750332,NaN,1.032442,6.436317,NaN,NaN,4.613106
4,2023-01-05,14.044070,25.697981,NaN,6.546678,NaN,NaN,6.441268,28.374161,32.273715,...,NaN,NaN,NaN,9.756508,NaN,1.033739,6.591044,NaN,NaN,4.676083
5,2023-01-06,13.922842,25.723972,NaN,6.575626,NaN,NaN,6.433931,28.341795,32.348557,...,NaN,3.000000,NaN,9.722433,NaN,1.030420,6.648628,3.133333,NaN,4.681796
6,2023-01-07,13.878352,25.861499,NaN,6.618869,NaN,NaN,6.458649,28.326848,32.396499,...,NaN,NaN,NaN,9.700684,NaN,1.037328,6.750857,NaN,NaN,4.689612
7,2023-01-08,13.822126,25.942586,NaN,6.642989,19.200000,3.225000,6.474482,28.315200,32.485634,...,3.350000,6.290000,8.717391,9.676758,NaN,1.031848,6.569589,3.075000,NaN,4.700429
8,2023-01-09,13.859997,25.523949,NaN,6.629630,22.737707,3.324356,6.540752,27.897585,32.360244,...,3.479572,6.700256,9.323944,9.775992,40.200607,1.038051,6.404271,3.247828,NaN,4.585023
9,2023-01-10,14.027631,25.864519,NaN,6.698393,NaN,NaN,6.470717,28.293704,32.470573,...,NaN,NaN,NaN,9.656647,NaN,1.031236,6.532407,NaN,NaN,4.739876
10,2023-01-11,13.994170,26.079050,NaN,6.688694,5.666667,NaN,6.472931,28.352666,32.491331,...,NaN,NaN,NaN,9.593946,NaN,1.033027,6.564738,NaN,NaN,4.727858

In [ ]:
pivot_table.columns

Index(['date', 'AYAM', 'BAHAN LAUT', 'BAHAN-BAHAN MINUMAN', 'BAWANG', 'BERAS',
       'BIHUN', 'BUAH-BUAHAN', 'CILI KERING', 'DAGING', 'ESEN DAN RAGI',
       'GULA', 'HASIL LAUT KERING', 'IKAN DALAM TIN', 'IKAN DARAT', 'KACANG',
       'KELAPA', 'KICAP DAN SOS', 'KRIMER DAN SUSU TEPUNG',
       'LAMPIN PAKAI BUANG', 'MAKANAN BAYI', 'MEE/KUETIAU', 'MENTEGA',
       'MI SEGERA', 'MINYAK DAN LEMAK', 'PENJAGAAN DIRI', 'PENJAGAAN RUMAH',
       'REMPAH RATUS (BERBUNGKUS)', 'REMPAH RATUS (TIDAK BERBUNGKUS)', 'ROTI',
       'SANTAN (KOTAK)', 'SAPUAN (SPREADS)', 'SAYUR-SAYURAN', 'SUSU BAYI',
       'TAUHU DAN TEMPE', 'TELUR', 'TEPUNG', 'TERSEDIA MINUM', 'UBI KENTANG'],
      dtype='object', name='item_category')

In [ ]:
df3 = pd.melt(pivot_table, id_vars=['date'], value_vars=['AYAM', 'DAGING', 'BUAH-BUAHAN', 'BAHAN LAUT', 'IKAN DARAT',
       'SAYUR-SAYURAN', 'KELAPA', 'TELUR', 'BAWANG', 'HASIL LAUT KERING',
       'KACANG', 'IKAN DALAM TIN', 'KICAP DAN SOS', 'TERSEDIA MINUM',
       'MINYAK DAN LEMAK', 'REMPAH RATUS (TIDAK BERBUNGKUS)',
       'REMPAH RATUS (BERBUNGKUS)', 'TEPUNG', 'UBI KENTANG',
       'MEE/KUETIAU', 'PENJAGAAN RUMAH', 'GULA', 'SANTAN (KOTAK)',
       'ESEN DAN RAGI', 'CILI KERING', 'TAUHU DAN TEMPE',
       'BAHAN-BAHAN MINUMAN', 'SAPUAN (SPREADS)', 'ROTI',
       'PENJAGAAN DIRI', 'SUSU BAYI', 'KRIMER DAN SUSU TEPUNG', 'BERAS',
       'MAKANAN BAYI', 'BIHUN', 'MENTEGA', 'LAMPIN PAKAI BUANG',
       'MI SEGERA'])

In [ ]:
df3 = df3.dropna()
df3

          date       item_category      value
0   2023-01-01                AYAM  13.809771
1   2023-01-02                AYAM  13.574937
2   2023-01-03                AYAM  13.997509
3   2023-01-04                AYAM  13.974329
4   2023-01-05                AYAM  14.044070
..         ...                 ...        ...
404 2023-01-09  LAMPIN PAKAI BUANG  32.438361
407 2023-01-01           MI SEGERA   5.065732
408 2023-01-02           MI SEGERA   4.753333
414 2023-01-08           MI SEGERA   5.350000
415 2023-01-09           MI SEGERA   5.060484

[259 rows x 3 columns]

## filter by value on column

In [ ]:
df3.item_category.unique()

array(['AYAM', 'DAGING', 'BUAH-BUAHAN', 'BAHAN LAUT', 'IKAN DARAT',
       'SAYUR-SAYURAN', 'KELAPA', 'TELUR', 'BAWANG', 'HASIL LAUT KERING',
       'KACANG', 'IKAN DALAM TIN', 'KICAP DAN SOS', 'TERSEDIA MINUM',
       'MINYAK DAN LEMAK', 'REMPAH RATUS (TIDAK BERBUNGKUS)',
       'REMPAH RATUS (BERBUNGKUS)', 'TEPUNG', 'UBI KENTANG',
       'MEE/KUETIAU', 'PENJAGAAN RUMAH', 'GULA', 'SANTAN (KOTAK)',
       'ESEN DAN RAGI', 'CILI KERING', 'TAUHU DAN TEMPE',
       'BAHAN-BAHAN MINUMAN', 'SAPUAN (SPREADS)', 'ROTI',
       'PENJAGAAN DIRI', 'SUSU BAYI', 'KRIMER DAN SUSU TEPUNG', 'BERAS',
       'MAKANAN BAYI', 'BIHUN', 'MENTEGA', 'LAMPIN PAKAI BUANG',
       'MI SEGERA'], dtype=object)

## filter multiple value

In [ ]:
filter = ['AYAM','MENTEGA', 'BAWANG']

filtered_df = df3[df3['item_category'].isin(filter)]
# filtered_df.tail()

# set(filtered_df['item_category'])
filtered_df

          date item_category      value
0   2023-01-01          AYAM  13.809771
1   2023-01-02          AYAM  13.574937
2   2023-01-03          AYAM  13.997509
3   2023-01-04          AYAM  13.974329
4   2023-01-05          AYAM  14.044070
5   2023-01-06          AYAM  13.922842
6   2023-01-07          AYAM  13.878352
7   2023-01-08          AYAM  13.822126
8   2023-01-09          AYAM  13.859997
9   2023-01-10          AYAM  14.027631
10  2023-01-11          AYAM  13.994170
88  2023-01-01        BAWANG   6.450552
89  2023-01-02        BAWANG   5.665421
90  2023-01-03        BAWANG   6.511100
91  2023-01-04        BAWANG   6.542458
92  2023-01-05        BAWANG   6.546678
93  2023-01-06        BAWANG   6.575626
94  2023-01-07        BAWANG   6.618869
95  2023-01-08        BAWANG   6.642989
96  2023-01-09        BAWANG   6.629630
97  2023-01-10        BAWANG   6.698393
98  2023-01-11        BAWANG   6.688694
385 2023-01-01       MENTEGA  13.836645
386 2023-01-02       MENTEGA  14.226667
393 2023-01-09       MENTEGA  13.725629

## Create Chart

In [ ]:
# pip install matplotlib -qq

In [ ]:
# import matplotlib.pyplot as plt
# import pandas as pd

# # Assume you have dataframe named `df` with columns 'date' and 'price'
# df2.set_index('date', inplace=True)
# df2.plot(y='price')
# plt.xlabel('Date')
# plt.ylabel('Price')
# plt.show()

In [ ]:
# pip install plotly -qq

In [ ]:
pip install ipywidgets -qq

In [ ]:
set(df3['item_category'])

{'AYAM',
 'BAHAN LAUT',
 'BAHAN-BAHAN MINUMAN',
 'BAWANG',
 'BERAS',
 'BIHUN',
 'BUAH-BUAHAN',
 'CILI KERING',
 'DAGING',
 'ESEN DAN RAGI',
 'GULA',
 'HASIL LAUT KERING',
 'IKAN DALAM TIN',
 'IKAN DARAT',
 'KACANG',
 'KELAPA',
 'KICAP DAN SOS',
 'KRIMER DAN SUSU TEPUNG',
 'LAMPIN PAKAI BUANG',
 'MAKANAN BAYI',
 'MEE/KUETIAU',
 'MENTEGA',
 'MI SEGERA',
 'MINYAK DAN LEMAK',
 'PENJAGAAN DIRI',
 'PENJAGAAN RUMAH',
 'REMPAH RATUS (BERBUNGKUS)',
 'REMPAH RATUS (TIDAK BERBUNGKUS)',
 'ROTI',
 'SANTAN (KOTAK)',
 'SAPUAN (SPREADS)',
 'SAYUR-SAYURAN',
 'SUSU BAYI',
 'TAUHU DAN TEMPE',
 'TELUR',
 'TEPUNG',
 'TERSEDIA MINUM',
 'UBI KENTANG'}

In [ ]:
from ipywidgets import interact, Dropdown
df= df3.sort_values(by='item_category')
dropdown = Dropdown(options=df3['item_category'].unique())

#interact(lambda item: None, item=dropdown)
display(dropdown)

Dropdown(options=('AYAM', 'DAGING', 'BUAH-BUAHAN', 'BAHAN LAUT', 'IKAN DARAT', 'SAYUR-SAYURAN', 'KELAPA', 'TEL…

In [ ]:
item = dropdown.value
item

'BAWANG'

In [ ]:
#!pip install --upgrade nbformat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nbformat in /usr/local/lib/python3.8/dist-packages (5.7.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.8/dist-packages (from nbformat) (2.16.2)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.8/dist-packages (from nbformat) (5.1.2)
Requirement already satisfied: traitlets>=5.1 in /usr/local/lib/python3.8/dist-packages (from nbformat) (5.7.1)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.8/dist-packages (from nbformat) (4.3.3)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat) (5.10.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat) (22.2.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.8/dist-packages (from jupyter-core->nbformat) (2.6.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat) (3.11.0)

In [ ]:
import plotly.express as px

# Assume you have dataframe named `df` with columns 'date', 'price' and 'category'

# Create the line plot
fig = px.line(pivot_table, x='date', y=item, title='Line Chart of Prices by Date and Item Category for ' + item) #, color='item_category')

# Show the plot
fig.update_layout(xaxis_tickformat = '%Y-%m-%d',
    yaxis_title="price")
fig.show(renderer="colab")